<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Places</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{if gt .Page .Last}}
<div>Invalid 'page' value: {{.Page}}</div>
{{else}}
<h5>Total: {{.Total}}</h5>
<ul>
    {{range .Places}}
    <li>
        <div>{{ .Name}}</div>
        <div>{{ .Address}}</div>
        <div>{{ .Phone}}</div>
    </li>
   {{end}}
</ul>
<a href="/?page=1">First</a>
{{if  gt .Page 1}}
<a href="/?page={{.Prev}}">Previous</a>
{{end}}
{{if lt .Page .Last}}
<a href="/?page={{.Next}}">Next</a>
{{end}}
<a href="/?page={{.Last}}">Last</a>
{{end}}
</body>
</html>